
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Geologica', sans-serif;
}
.innercontainer {
    width: 90%;
    margin: 0 auto;
}

/* for header  */


header .top-header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 15px;
}
header .top-header .logo{
    display: flex;
    align-items: center;
}
header .top-header .logo img {
    width: 150px;
}

.search-container {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 15px;
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
    padding: 8px;
}

.search-container img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
header .top-header .iconshead {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-gap: 20px;
}

/* nav head*/
header .menu-head nav ul{
    display: flex;
    justify-content: center;
    /* gap: 20px;     */
   
}
header .menu-head nav ul li {
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
header .menu-head nav ul li:hover {
    background-color: #F3F4F6;
    transition: all 0.5s;
}

/* marquee tab  */
.marquee-container {
    width: 100%;
    overflow: hidden;
    background: #f2f2f2;
    padding: 10px 0;
    position: relative;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

/* Keyframes for scrolling effect */
@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Pause animation when hovered */
.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}

.marquee-content a {
    margin-right: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    color: black;

}


/* blacktabs */
.blacktab {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: black;
    padding: 13px 0;
    display: flex;
    justify-content: center;
}
.blacktab a {
    color: white;
    text-decoration: none;
    font-size: 14px ;
    line-height: 12px;
}

/* Productscategories */

.Productscategories {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    padding: 20px 0px;
}
.Productscategories img {
    width: 100px;
    height: auto;
}
.Productscategories a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}


/* hero banner start  */

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}


.slides img {
    width: 100%;
    flex-shrink: 0; /* Prevents shrinking */
}




/* brand carousal */
.brandmarquee {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 20px 0px;
}

.brandmarquee-content {
    display: flex;
    gap: 50px;
    animation: brandmarquee 10s linear infinite;
}

.brandmarquee-content img {
    height: 40px; 
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.brandmarquee-content img:hover {
    transform: scale(1.2); 
}

/* Keyframes for infinite scrolling effect */
@keyframes brandmarquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* salebanner start  */
.salebanner img {
    width: 100%;
}


/* model banner start  */
.modelsection{
    padding: 20px 0px;
    display: flex;
    gap: 25px;
    width: 100%;
}

 .model1 {
    background-image: url(images/model1.webp);
    background-size: cover;
}
 .model2 {
    background-image: url(images/model2.webp);
    background-size: cover;
}
.model3 {
    background-image: url(images/model3.webp);
    background-size: cover;
}

.formodelbg {

    height: 550px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.formodelbg h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: white;
}
.formodelbg a {
    position: relative;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    transition: all 0.5s;
    text-decoration: none;
    margin-top: 30px;
}
.formodelbg a:hover {
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.discountban {
    padding-bottom: 50px;
}



/* product-section */
.allproductsection {
    display: flex;
    gap: 25px;
    padding: 50px 0px;
}

.product-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-section .top-heading h2{
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}
.product-section .top-heading p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}
.product-section .cat-buttons{
    display: flex;
    gap: 20px;
}
.product-section .cat-buttons a{

    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    background-color: black;
    border-radius: 5px;
}

.product1{
    cursor: pointer;
}
.product1 .productimages {
    position: relative;
}
.product1 .productimages img{
    width: 100%;
}
.product1 .productimages .image2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.product1 .productimages .image2:hover{
    opacity: 1;
    transition: all 0.5s;
}

.product1 .productimages h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.product1 .productimages p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.product1 .pricesall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.product1 .totalprice {
    display: flex;
    gap: 10px;
}
.product1 .pricesall .discountpersent{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #f04d4d;
}
.product1 .pricesall .saleprice{
    color: #f04d4d;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.product1 .pricesall .actualprice {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}


/* Favourite Brands */
.fbsec {
    padding: 40px 0px;
}

.fbsec h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    padding-bottom: 40px;
}
.fbsec .fbsecimages{
    display: flex;
    gap: 10px;
}
.fbsec .fbsecimages img{
    width: 100%;
}
.fbsec p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: black;
    text-align: center;
    margin: 60px 0px;
}



/* subscription start  */

.subscription{
    background-color: #F8F8F8;
    padding: 20px 0px;
}
.subsform {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.subsform h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
.subsform .sp1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.subscription-form {
    text-align: center;
    padding: 20px;
}

.subscription-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.subscription-form input[type="email"] {
    width: 100%;
    padding: 18px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #888;
    outline: none;
}

.subscription-form button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 18px 50px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.subscription-form button:hover {
    background-color: #333;
}

.privacy-text {
    font-size: 14px;
    color: black;
    padding-top: 20px;
    margin: auto;
    line-height: 21px;
}

.privacy-text a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.privacy-text a:hover {
    text-decoration: underline;
}



/* footer start  */

.footer {
    background-color: white;
    padding-top: 80px;
}

.footer-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: auto;
    flex-wrap: nowrap;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}

.footer-section {
    width: 20%;
}

.footer-section h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-section h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 6px;
}

.footer-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    transition: all 0.3s;
}

.footer-section ul li a:hover {
    color: gray;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.social-icons .fab {
    
    font-size: 25px;
}

.social-icons a {
    font-size: 18px;
    color: black;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: gray;
}

/* App Store & Google Play */
.app-links img {
    width: 140px;
    display: block;
    margin-bottom: 10px;
}




.footerbottom .imagesfirstsection{
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 30px 0px;
}
.footerbottom .imagesfirstsection img{
    height: 16px;
}
.footerbottom .imagessecondsection{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footerbottom .imagessecondsection img{
    height: 40px;
}
.bottonbranding {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.bottonbranding img{
    width: 100px;
}
.bottonbranding p{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}